body {
	background-color: #000066;
	font-family: "Helvetica"
}

#header {
	color: white;
	text-align: center;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

#article {
	background-color: white;
	margin-left: 25%;
	margin-right: 25%;
	border: 1px solid black;
	border-radius: 25px;
	padding: 20px;
}

h2 {
	text-align: center;
}