body {
	background-color: #000066;
	font-family: "Helvetica"
}

#header {
	font-color: white;
	text-align: center;
}

#article {
	background-color: white;
	width: 50%;
	height: 100%;
	margin-left: 25%;
	margin-right: 25%;
	border: 1px solid black;
	border-radius: 25px;
	padding-top: 20px;
	padding-left: 35px;
	padding-right: 35px;
}

h2 {
	text-align: center;
}