<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <ul class="header-contact">
      <li>
        <a href="mailto:{{ site.email }}">Email</a>
      </li>
      <li>
        <a href="https://github.com/{{ site.github_username }}">Github</a>
      </li>
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/michaelkirlin/">LinkedIn</a>
      </li>
    </ul>
  </div>
</header>
