body {
  background-color: #660033;
}

header {
  font-family: "Helvetica";
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid black;
  margin-left: 20%;
  margin-right: 20%;
}

article {
  text-align: justify;
  font-family: "Helvetica";
  position: relative;
}

h2 {
  text-align: center;
}

p, img {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
} 

h3 {
  font-family: "Helvetica";
  margin-top: -25px;
}

#sidebar {
  width: 25%;
  font-size: large;
  float: left;
  margin-top: 100px;
  margin-left: 15px;
  background-color: #FFFFFF;
  border-radius: 25px;
  font-family: "Helvetica";
}

.blog {
  font-size: large;
  margin-left: 30px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  padding-top: 10px;
  background-color: #FFFFFF;
  border-radius: 25px;
}

#writing {
  float: left;
  width: 60%;
}

#first {
  margin-top: 100px;
}

div#social_networks a img {
  width: 15%;
  margin: 5px;
}

div#sidebar img {
  border-radius: 25px;
}

#social_networks {
  text-align: center;
  margin-top: -20px;
}

div#sidebar h3 {
  margin: none;
}