body {
  background-color: #215E21;
}

header {
  font-family: "Helvetica";
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid black;
  margin-left: 20%;
  margin-right: 20%;
}

article {
  text-align: justify;
  font-family: "Helvetica";
  position: relative;
}

h2 {
  text-align: center;
}

p, img {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
} 

h3 {
  font-family: "Helvetica";
  margin-top: -25px;
}

#sidebar {
  text-align: left;
  width: 250px;
  background-color: white;
  font-size: large;
  border: 1px solid black;
  float: left;
  margin-top: 100px;
  padding: -15px;
  background-color: #EFECE5;
  border-radius: 25px;
}

.blog {
  width: 60%;
  background-color: white;
  font-size: large;
  border: 1px solid black;
  float: right;
  margin-left: 5px;
  margin-right: 300px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  background-color: #EFECE5;
  border-radius: 25px;
}

#first {
  margin-top: 100px;
}