header {
  font-family: "Helvetica";
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid black;
  margin-left: 25%;
  margin-right: 25%;
}

article {
  text-align: justify;
  font-family: "Helvetica";
  position: relative;
}

h2 {
  text-align: center;
}

p {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
} 

h3 {
  font-family: "Helvetica";
  margin-top: -25px;
}

img {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

sidebar {
  text-align: center;
  height: 800px;
  width: 15%;
  background-color: white;
  font-size: large;
  display: inline-block;
  border: 5px solid black;
  float: left;
  margin: 5px;
}