body {
  background-color: 0099FF;
}

#header {
  text-align: center;
  height: 150px;
  width: 100%;
  background-color: white;
  font-size: xx-large;
  border: 5px solid black;
  margin: 5px;
}

#sidebar {
  text-align: center;
  height: 800px;
  width: 15%;
  background-color: white;
  font-size: large;
  display: inline-block;
  border: 5px solid black;
  float: left;
  margin: 5px;
}

#content {
  height: 800px;
  width: 81%;
  background-color: white;
  font-size: large;
  display: inline-block;
  border: 5px solid black;
  float: right;
  margin: 5px;
}

 #footer {
  text-align: center;
  height: 70px;
  width: 100%;
  background-color: white;
  font-size: small;
  border: 5px solid black;
  clear: both;
  margin: 5px;
}

p {
  margin: 5px;
}

#pic_cap {
  position:relative;
}

#caption {
  position: absolute;
  padding-left: 200px;
  padding-top: 25px;
  color: white;
}

#monolith {
  max-width: 50%;
  max-height: 50%;
  margin: auto;
  padding-left: 150px;
  padding-top: 50px;
}

#list {
  padding: 10px;
}

li:first-child, li:last-child {
  color: red;
}

a:hover {
  color: red;
}