body {
  background-color: #00363B;
  font-family: 'Helvtica',
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

div {
  
}

article {
  
}

h1 { 
  color: #FFFFFF;
  text-align: center;
}

h2 {
  
}

p {
  
}

#title {
  
}

#main {
  background-color: #FFFFFF;
  float: left;
  margin-left: 15px;
  width: 60%;
  padding: 15px;
  margin-bottom: 15px;
}

#glossary {
  background-color: #FFFFFF; 
  float: right;
  margin-right: 15px;
  width: 30%;
  padding: 15px;
}